{% extends 'include/homepage.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

    <!-- Page Banner Start -->
    <div class="page-banner">
        <div class="container">
            <!-- Pager Banner Start -->
            <div class="page-banner-content text-center">
                <h2 class="page-banner-title">Login</h2>
                <ul class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Login</li>
                </ul>
            </div>
            <!-- Pager Banner End -->
        </div>
    </div>
    <!-- Page Banner End -->
    
    <!-- Login Section Start -->
    <div class="section section-padding mt-n2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <!-- Login & Register Start -->
                    <a href="{% provider_login_url 'google' %}">Login with Google</a>
                    <div class="login-register-wrapper">
                        <h4 class="title">Login to Your Account</h4>
                            <form method="POST">
                            {% csrf_token %}
                            <div class="single-form">
                                <label class="form-label">Username</label>
                                <input type="text" name="username" class="form-control">
                            </div>
                            <div class="single-form">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" class="form-control">
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="remember">
                                <label class="form-check-label" for="remember">Remember me</label>
                            </div>
                            <div class="single-form">
                                <button class="btn btn-primary">Login</button>
                            </div>
                        </form>
                        <p><a href="login.html#">Lost your password?</a></p>
                        <p>No account? <a href="register.html">Create one here.</a></p>
                    </div>
                    Login & Register End
                </div>
            </div>
        </div>
    </div>
    <!-- Login Section End -->
{% endblock %}